body {
    // Define some Carbon color schemes from 
    // https://github.com/carbon-design-system/carbon/blob/v10/packages/colors/src/colors.js
    // that are consistent with Qiskit's branding.
    //
    // While we set default colors, IBM-focused projects will want to use blue.
    --qiskit-color-purple: #6929C4;  // purple70
    --qiskit-color-blue: #0043ce;  // blue70

    // Furo normally distinguishes between these two variables, but
    // we want them to be the same.
    --color-brand-content: var(--color-brand-primary);

    // For the Qiskit theme, use purple.
    --color-brand-primary: var(--qiskit-color-purple);
  }
