body {
  /* Use the same table header color as qiskit.org. */
  --color-table-header-background: #dde1e6;
}

/* Because we disable drop shadows, restore borders for tables by overriding rules that disabled
*  them. */
table.docutils td:last-child,
table.docutils th:last-child {
  border-right: 1px solid var(--color-table-border);
}
table.docutils td:first-child,
table.docutils th:first-child {
  border-left: 1px solid var(--color-table-border);
}

/* Also add a border to the top of the table so that tables without headers have a border.
*
*  It's arguably not necessary to add a top border when the table has a header and we could
*  use a more precise selector `table.docutils tbody`. But, the rest of the table will already have
*  borders so we are consistent this way. */
table.docutils {
  border-top: 1px solid var(--color-table-border);
}

/* Turn off center aligning of tables. */
table.align-default {
  margin-left: 0;
}
