body {
  --font-stack: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --font-stack--monospace: 'IBM Plex Mono', 'Consolas', 'Courier New', monospace;
}

// Carbon only uses bold for the smallest headers:
// https://carbondesignsystem.com/guidelines/typography/type-sets/
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
