/* Define variables & override some Furo ones. See
* https://github.com/pradyunsg/furo/tree/main/src/furo/assets/styles/variables
* for all options.
*
* Any variable starting with `--qiskit` is custom, rather than overriding Furo. */
body {
    /* -----------------------------------------------------------------------
    * Primary colors
    * ------------------------------------------------------------------------ */
    --qiskit-color-purple: #6929C4;
    --color-brand-primary: var(--qiskit-color-purple);
    --color-brand-content: var(--qiskit-color-purple);

    /* By default, Furo uses an aggressive red color for API docs. We use a more muted black
    *  and gray. */
    --color-api-name: var(--color-foreground-primary);
    --color-api-pre-name: var(--color-foreground-secondary);

    /* -----------------------------------------------------------------------
    * Fonts
    * ----------------------------------------------------------------------- */
    --font-stack: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    --font-stack--monospace: 'IBM Plex Mono', 'Consolas', 'Courier New', monospace;

    /* -----------------------------------------------------------------------
    * Icons
    * ------------------------------------------------------------------------ */
    /* We must use Carbon for all icons: https://carbondesignsystem.com/guidelines/icons/library/.
    *  To use an icon, download it and format it to one line.
    *
    * We only override icons for what we use. Others get turned off by e.g. our "admonitions"
    * CSS rules. */
    --icon-search: url('data:image/svg+xml;charset=utf-8,<svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1 {fill: none;}</style></defs><path d="M29,27.5859l-7.5521-7.5521a11.0177,11.0177,0,1,0-1.4141,1.4141L27.5859,29ZM4,13a9,9,0,1,1,9,9A9.01,9.01,0,0,1,4,13Z" transform="translate(0 0)"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>');
    --icon-info: url('data:image/svg+xml;charset=utf-8,<svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1 {fill: none;}</style></defs><path id="inner-path" class="cls-1" d="M16,8a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,8Zm4,13.875H17.125v-8H13v2.25h1.875v5.75H12v2.25h8Z" transform="translate(0 0)"/><path d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,6a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,16,8Zm4,16.125H12v-2.25h2.875v-5.75H13v-2.25h4.125v8H20Z" transform="translate(0 0)"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>');
    /* We manually set the CSS classes `st1` and `st2` to the colors for warnings. See the
    *  admonitions section for an explanation of why. */
    --icon-warning: url('data:image/svg+xml;charset=utf-8,<svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill:none;}.st1{fill:%23f1c21b;}.st2{fill:black;}</style><rect id="Transparent_Rectangle" class="st0" width="32" height="32"/><path id="Compound_Path" class="st1" d="M16,2C8.3,2,2,8.3,2,16s6.3,14,14,14s14-6.3,14-14C30,8.3,23.7,2,16,2z M14.9,8h2.2v11h-2.2V8z M16,25c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22c0.8,0,1.5,0.7,1.5,1.5S16.8,25,16,25z"/><path id="inner-path" class="st2" d="M17.5,23.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5S15.2,22,16,22C16.8,22,17.5,22.7,17.5,23.5z M17.1,8h-2.2v11h2.2V8z"/></svg>');
    --icon-failure: url('data:image/svg+xml;charset=utf-8,<svg id="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1 {fill: none;}</style></defs><rect id="inner-path" class="cls-1" x="14.9004" y="7.2004" width="2.1996" height="17.5994" transform="translate(-6.6275 16.0001) rotate(-45)"/><path d="M16,2A13.914,13.914,0,0,0,2,16,13.914,13.914,0,0,0,16,30,13.914,13.914,0,0,0,30,16,13.914,13.914,0,0,0,16,2Zm5.4449,21L9,10.5557,10.5557,9,23,21.4448Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>');

    /* -----------------------------------------------------------------------
    * Top nav bar.
    * ----------------------------------------------------------------------- */
    /* This value is duplicated from `top-nav-bar.js`. Its definition of the variable is not
     * exposed globally. Keep in sync. */
    --qiskit-top-nav-bar-height: 3.5rem;

    /* -----------------------------------------------------------------------
    * Left sidebar
    * ----------------------------------------------------------------------- */
    /* Use gray for the top-level links to be more muted. */
    --color-sidebar-link-text--top-level: var(--color-sidebar-link-text);
    /* Turn off gradient for hover. */
    --color-sidebar-item-background--hover: #efeff4;
    /* This defaults to 15em in Furo, but we want a little bigger. */
    --qiskit-left-sidebar-width: 18em;

    /* -----------------------------------------------------------------------
    * Admonitions
    * ------------------------------------------------------------------------ */
    /* See https://carbondesignsystem.com/guidelines/color/usage and
    *  https://carbondesignsystem.com/components/notification/style/ for where these colors
    *  come from. Note that we don't use the Success admonition in our theme. */
    --qiskit-color-admonition-info--background: #edf5ff;
    --qiskit-color-admonition-info--border: #0043ce;
    --qiskit-color-admonition-warning--background: #fcf4d6;
    --qiskit-color-admonition-warning--border: #f1c21b;
    --qiskit-color-admonition-error--background: #fff1f1;
    --qiskit-color-admonition-error--border: #da1e28;

    /* -----------------------------------------------------------------------
    * Tables
    * ------------------------------------------------------------------------ */
    /* Use the same table header color as qiskit.org. */
    --color-table-header-background: #dde1e6;
}

/* ------------------------------------------------------------------------------
* Page layout
* ------------------------------------------------------------------------------- */

/* Disable Furo making the whole site larger on big screens. This results in `rem` having a
* bigger size, so things like the Qiskit top nav bar getting bigger, which we don't like. */
@media (min-width: 97em) {
  html {
    font-size: 100%;
  }
}

/* By default, Furo expands the left and right sidebars when the page width increases, but it
* doesn't increase the entry size. It also keeps the page contents fixed at 46em.
*
* Instead, we always keep the side bars the same size, and we expand the main page
* contents. This is a better use of screen real estate and is more consistent with qiskit.org.
*
* But, we only expand the main contents up to 60em because best practices recommend not having
* prose-heavy sites spread content over too long:
* https://www.mediawiki.org/wiki/Reading/Web/Desktop_Improvements/Features/Limiting_content_width#Goals_and_Motivation
* When the max-width is reached, the right page table of contents will stay in its same position and
* whitespace will be added to the right. That is much simpler for us to implement and avoids the
* sidebar from being split way too far from the page content itself.
*
* The easiest way to achieve this is using flexbox, given that Furo already uses it. We keep
* Furo's default values for `width` and `min-width` because it's necessary for spacing to work
* properly.  */
.sidebar-drawer {
  flex: 0 0 var(--qiskit-left-sidebar-width);
  width: var(--qiskit-left-sidebar-width);
  min-width: var(--qiskit-left-sidebar-width);
}
.sidebar-container {
  width: var(--qiskit-left-sidebar-width);
}
.content {
  flex: 1 1 46em;
  max-width: 60em;
}
.toc-drawer {
  flex: 0 0 15em;
}

@media (max-width: 67em) {
  .sidebar-drawer {
    left: calc(var(--qiskit-left-sidebar-width) * -1);
  }
}

/* Turn off scroll animation for anchor links: https://github.com/pradyunsg/furo/discussions/384 */
html {
  scroll-behavior: auto;
}

/* ------------------------------------------------------------------------------
* Top nav bar
* ------------------------------------------------------------------------------- */

/* Disable dark mode until qiskit.org has it: https://github.com/Qiskit/qiskit.org/issues/2310 */
.theme-toggle-container {
  display: none;
}

/* Improve the custom design of the header icon in terms of its thickness. */
div.header-left svg use {
  stroke-width: 0.5;
}

/* Fix Qiskit top nav bar hiding Furo's top nav bar and side menus. */
.mobile-header,
.sidebar-sticky,
.toc-sticky,
#__navigation:checked ~ .page .sidebar-drawer,
#__toc:checked ~ .page .toc-drawer {
  top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  .sidebar-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}
@media (max-width: 82em) {
  .toc-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}

/* These are also necessary to fix the Qiskit top nav bar hiding Furo content/menus, specifically
*  when the user is scrolled down to the bottom of the page. They override Furo's rules. */
.sidebar-sticky,
.toc-sticky {
  height: calc(100vh - var(--qiskit-top-nav-bar-height));
}
.toc-scroll {
  max-height: calc(100vh - var(--qiskit-top-nav-bar-height));
}

/* Fix # anchor links not accounting for the top nav bar.
*
* The rules for mobile come from Furo, but we add --qiskit-top-nav-bar-height.
* But for some reason, the default rule has too much spacing if we include Furo's original rule's
* --header-height. */
:target {
  scroll-margin-top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  :target {
     scroll-margin-top: calc(0.5rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
  /* When a heading is selected */
  section > span:target {
    scroll-margin-top: calc(0.8rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
}

/* Turn off highlighting of the current page until we can properly solve
*  https://github.com/Qiskit/qiskit_sphinx_theme/issues/368. */
.toc-tree li.scroll-current > .reference {
  color: var(--color-toc-item-text);
  font-weight: unset;
}

/* ------------------------------------------------------------------------------
* Left side bar: styling
* ------------------------------------------------------------------------------- */

/* Even though we override --color-sidebar-link--top-level to be a more muted look, we change
*  the currently selected page to be purple to make it more obvious. */
.sidebar-tree .current-page > .reference {
  color: var(--qiskit-color-purple);
}

/* --------------------------------------------------------------------------------------
* Left side bar: Translations & Previous Releases common config
* -------------------------------------------------------------------------------------- */

.qiskit-translations-list-container,
.qiskit-previous-releases-list-container {
  display: none;
}
#translations-checkbox:checked ~ .qiskit-translations-list-container,
#previous-releases-checkbox:checked ~ .qiskit-previous-releases-list-container{
  display: block;
}

.qiskit-translations-header-container label,
.qiskit-previous-releases-header-container label {
  cursor: pointer;
}

/* Based off of `.toctree-l1 li`. */
.qiskit-translations-header-container,
.qiskit-previous-releases-header-container {
  margin: 0;
  position: relative;
  /* Normally this is set on `.sidebar-tree label`, which corresponds to
  * `.qiskit-translations-toggle-container` and `.qiskit-previous-releases-toggle-container`.
  * But we set it on the whole container because otherwise we get annoying browser highlighting
  * of the text. */
  -webkit-user-select: none;
  user-select: none;
}

/* Based off of `.sidebar-tree li.has-children > reference` and `.sidebar-tree .reference`. */
.qiskit-translations-header-container p,
.qiskit-previous-releases-header-container p {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: var(--sidebar-item-line-height);
  overflow-wrap: anywhere;
  text-decoration: none;
  width: 100%;
  padding-left: var(--sidebar-item-spacing-horizontal);
  padding-right: var(--sidebar-expander-width);
}

/* Based off of `.sidebar-tree .reference:hover`, but applied to the whole container rather than
*  only the label text. */
.qiskit-translations-header-container:hover,
.qiskit-previous-releases-header-container:hover {
  background: var(--color-sidebar-item-background--hover);
}

/* Based off of `.sidebar-tree label`. */
.qiskit-translations-toggle-container,
.qiskit-previous-releases-toggle-container {
  background: var(--color-sidebar-item-expander-background);
  align-items: center;
  display: flex;
  height: var(--sidebar-item-height);
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--sidebar-expander-width);
}

/* Based off of `.toctree-checkbox`. */
#translations-checkbox,
#previous-releases-checkbox {
  display: none;
  position: absolute;
}
.qiskit-translations-header-container svg,
.qiskit-previous-releases-header-container svg {
  transform: rotate(90deg);
}
#translations-checkbox:checked ~ .qiskit-translations-header-container svg,
#previous-releases-checkbox:checked ~ .qiskit-previous-releases-header-container svg {
  transform: rotate(-90deg);
}

/* Based off of `.sidebar-tree ul`. */
.qiskit-translations-list-container ul,
.qiskit-previous-releases-list-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Based off of `.sidebar-tree li`. */
.qiskit-translations-list-container li,
.qiskit-previous-releases-list-container li {
  margin: 0;
  position: relative;
}

/* Based off of `.sidebar-tree .reference`. */
.qiskit-translations-list-container a,
.qiskit-previous-releases-list-container a {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: var(--sidebar-item-line-height);
  overflow-wrap: anywhere;
  padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
  text-decoration: none;
  width: 100%;
}

/* Based off of `.sidebar-tree .reference:hover`. */
.qiskit-translations-list-container a:hover,
.qiskit-previous-releases-list-container a:hover {
  background: var(--color-sidebar-item-background--hover);
}

/* --------------------------------------------------------------------------------------
* Left side bar: Translations
* -------------------------------------------------------------------------------------- */

.qiskit-translations-container {
  border-top: solid 2px var(--qiskit-color-purple);
}

.qiskit-translations-list-container {
  padding-bottom: var(--sidebar-item-spacing-vertical);
}

.qiskit-translations-toggle-container {
  /* Unlike Furo, we set this to 100% instead of `var(--sidebar-item-height)`. */
  height: 100%;
}

.qiskit-translations-list-container a {
  /* We increase the horizontal padding for some visual distinction with the normal sidebar. */
  padding: var(--sidebar-item-spacing-vertical) calc(var(--sidebar-item-spacing-horizontal) * 1.5);
}

/* ------------------------------------------------------------------------------
* Left side bar: Previous Releases
* ------------------------------------------------------------------------------- */

/* Inspired by `.sidebar-tree li > ul`. */
.qiskit-previous-releases-list-container ul {
  margin-left: calc(var(--sidebar-item-spacing-horizontal) * 0.5);
}

/* Inspired by `.sidebar-tree`. */
.qiskit-previous-releases-container {
  font-size: var(--sidebar-item-font-size);
  margin-bottom: var(--sidebar-item-spacing-vertical);
  margin-top: 0;
}

.qiskit-previous-releases-list-container a {
  color: var(--color-sidebar-link-text);
}

.qiskit-previous-releases-header-container p {
  color: var(--color-sidebar-caption-text);
  font-size: var(--sidebar-caption-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------------
* Typography
* ------------------------------------------------------------------------------- */

/* Without this, long titles break the site. This is especially a problem in API docs.
*  Remove if https://github.com/pradyunsg/furo/pull/670 gets merged and released. */
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Carbon only uses bold for the smallest headers:
*  https://carbondesignsystem.com/guidelines/typography/type-sets/ */
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

/* ---------------------------------------------------------------------------
* Drop shadows and border-radius
* ---------------------------------------------------------------------------- */

.admonition,
.topic,
table.docutils,
kbd:not(.compound) {
  border-radius: 0;
  box-shadow: none;
}

/* We have a specificity war with Sphinx design elements. The `:not(#specifity-war)` selector
*  works around that. */
:not(#specifity-war).sd-card,
:not(#specifity-war).sd-tab-content,
:not(#specifity-war).sd-shadow-sm,
:not(#specifity-war).sd-shadow-md,
:not(#specifity-war).sd-shadow-lg {
  box-shadow: none !important;
  border-radius: 0 !important;
  border: 1px solid var(--color-table-border);
}

div:not(#specifity-war).jupyter_container {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
:not(#specifity-war).jupyter_container div.code_cell,
:not(#specifity-war).highlight {
  border-radius: 0;
}

/* ------------------------------------------------------------------------------
* Tables
* ------------------------------------------------------------------------------- */

/* Because we disable drop shadows, restore borders for tables by overriding rules that disabled
*  them. */
table.docutils td:last-child,
table.docutils th:last-child {
  border-right: 1px solid var(--color-table-border);
}
table.docutils td:first-child,
table.docutils th:first-child {
  border-left: 1px solid var(--color-table-border);
}

/* Also add a border to the top of the table so that tables without headers have a border.
*
*  It's arguably not necessary to add a top border when the table has a header and we could
*  use a more precise selector `table.docutils tbody`. But, the rest of the table will already have
*  borders so we are consistent this way. */
table.docutils {
  border-top: 1px solid var(--color-table-border);
}

/* Turn off center aligning of tables. */
table.align-default {
  margin-left: 0;
}

/* ------------------------------------------------------------------------------
* Admonitions
* ------------------------------------------------------------------------------- */
/* The changes in this section are to align with Carbon:
*  https://carbondesignsystem.com/components/notification/style/ */

.topic {
  border: 1px solid var(--qiskit-color-admonition-info--background);
}

/* Admonitions are complex because they use a 3px left border with a different color than the rest
*  of the div. If we naively used `border-left`, we'd end up with a weird-looking diagonal, as
*  described at
*  https://stackoverflow.com/questions/18129718/weird-css-behavior-diagonal-border-why-is-the-border-edge-not-straight.
*  So, instead, we use `.admonition:before` to set up the left border.
*
*  We don't specify the border colors or the `background` for `.admonition:before` because each
*  specific admonition type will set them. We also don't set a border-top because we expect the
*  border color to be the same as the top's background. */
.admonition {
  border-left: 0;  /* Turn off Furo's border. */
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  position: relative;
  padding-left: 12px;
}
.admonition:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
}

.admonition.attention > .admonition-title:before,
.admonition.caution > .admonition-title:before,
.admonition.important > .admonition-title:before,
.admonition.warning > .admonition-title:before {
  /* Rather than using mask-image like Furo normally does, we set `content` to the SVG. This is
  *  because Carbon requires that we have a black exclamation mark for accessibility: the
  *  light yellow background wouldn't be distinct enough compared to the dark yellow icon. Mask
  *  image doesn't let us set colors, only whether to use the background color of the underlying
  *  HTML element vs. use the background color of the SVG container. So, having a black exclamation
  *  mark would require setting the entire .admonition-title background color to black. */
  content: var(--icon-warning);
  -webkit-mask-image: unset;
  mask-image: unset;
  background-color: var(--qiskit-color-admonition-warning--background);
}
.admonition.attention > .admonition-title,
.admonition.caution > .admonition-title,
.admonition.important > .admonition-title,
.admonition.warning > .admonition-title {
  background-color: var(--qiskit-color-admonition-warning--background);
}
.admonition.attention,
.admonition.caution,
.admonition.important,
.admonition.warning {
  border-color: var(--qiskit-color-admonition-warning--background);
}
.admonition.attention:before,
.admonition.caution:before,
.admonition.important:before,
.admonition.warning:before {
  background: var(--qiskit-color-admonition-warning--border);
}

.admonition.danger > .admonition-title:before,
.admonition.error > .admonition-title:before {
  -webkit-mask-image: var(--icon-failure);
  mask-image: var(--icon-failure);
  background-color: var(--qiskit-color-admonition-error--border);
}
.admonition.danger > .admonition-title,
.admonition.error > .admonition-title {
  background-color: var(--qiskit-color-admonition-error--background);
}
.admonition.danger,
.admonition.error {
  border-color: var(--qiskit-color-admonition-error--background);
}
.admonition.danger:before,
.admonition.error:before {
  background: var(--qiskit-color-admonition-error--border);
}

.admonition > .admonition-title:before,
.admonition.hint > .admonition-title:before,
.admonition.note > .admonition-title:before,
.admonition.tip > .admonition-title:before,
p.topic-title:before {
  -webkit-mask-image: var(--icon-info);
  mask-image: var(--icon-info);
  background-color: var(--qiskit-color-admonition-info--border);
}
.admonition > .admonition-title,
.admonition.hint > .admonition-title,
.admonition.note > .admonition-title,
.admonition.tip > .admonition-title,
p.topic-title {
  background-color: var(--qiskit-color-admonition-info--background);
}
.admonition,
.admonition.hint,
.admonition.note,
.admonition.tip {
  border-color: var(--qiskit-color-admonition-info--background);
}
.admonition:before,
.admonition.hint:before,
.admonition.note:before,
.admonition.tip:before {
  background: var(--qiskit-color-admonition-info--border);
}

/* -------------------------------------------------------------------------------
* User analytics in the footer
* ------------------------------------------------------------------------------- */

footer .helpful-container {
  display: inline-flex;
  border-top: 1px solid var(--color-background-border);
  border-bottom: 1px solid var(--color-background-border);
  color: var(--color-foreground-secondary);
}

footer .helpful-container .helpful-question,
footer .helpful-container .was-helpful-thank-you {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

#was-helpful-thank-you {
  visibility: hidden;
}

.helpful-container .helpful-question.yes-link,
.helpful-container .helpful-question.no-link {
  color: var(--qiskit-color-purple);
  cursor: pointer;
  text-decoration: none;
}

.helpful-container .helpful-question.yes-link:hover,
.helpful-container .helpful-question.no-link:hover {
  background-color: var(--qiskit-color-purple);
  color: #ffffff;
}

/* ---------------------------------------------------------------------------
* Tutorials
* ---------------------------------------------------------------------------- */

/* Don't have a purple border. This rule overrides `.npshinx-gallery > a`.
*
* We keep the default style of the text itself being purple to be consistent with the general style
* of the site using purple for links.*/
.nbsphinx-gallery > a.reference {
  border: 1px dotted var(--color-foreground-secondary);
}

/* ---------------------------------------------------------------------------
* API docs
* ---------------------------------------------------------------------------- */

/* Definition lists are used for sections like "Parameters", "Return type", and "Attributes"
*  (properties of a class). */
dl.py:not(.docutils) dt {
  /* This causes the definition-term and its border-top to only take up as much space as the
  *  content, plus padding and margins. */
  display: inline-block;
  border-top: 2px solid var(--qiskit-color-purple);
  background-color: var(--color-background-secondary);
}

/* Rules that impact the top-level entry for the code object, which e.g. has the `[source]` button. */
section > dl.py:not(.docutils) > dt {
  /* We normally want to use inline-block for definition terms so that the purple border we add on
  *  top does not stretch across the whole screen. But, we make an exception here it will have a
  * `[source]` button that floats to the right. The spacing of that is non-trivial and was the
  * source of issues in Pytorch, so we stick with Furo's spacing. */
  display: block;
  /* Make the border less thick so its clear the top-level page header corresponds to this line. */
  border-top-width: 1px;
  margin-bottom: 1rem;
}
/* It's possible to have multiple entries for the same code object, e.g. when using typing.overload.
*  This cancels out the margin-bottom such that only the bottom-most `dt` will have a margin-bottom
*  in effect. */
section > dl.py:not(.docutils) > dt:not(:first-child) {
  margin-top: -1rem;
}

/* Fix some of the definition terms like "Parameters" having no padding and being in all caps.
*
*  Some Qiskit projects, like Experiments, use custom API sections. Those don't set the class
* `.field-list` on the `dl`, so we change Furo's selector from `.field-list > dt` to `dl > dt`. But,
*  to override Furo's properties we don't like, we also have to use `.field-list > dt` for some
*  rules to win the specificity war. */
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl > dt {
  font-weight: 700;
  /* Copied from Furo's `.sig:not(.sig-inline)` */
  padding: .25rem .5rem .25rem 3em;
  text-indent: -2.5em;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .field-list > dt {
  text-transform: unset;
  font-size: unset;
}

.sig:not(.sig-inline) {
  background: var(--color-background-secondary);
  border-radius: 0;
}

/* Revert Furo's special-casing of rubrics for API docs. These rubrics are used for top-level
*  section headers like "Attributes" and "Methods". We disagree with the design in
*  https://github.com/pradyunsg/furo/discussions/505. Instead, use the rules from `p.rubric`. */
dl.py dd p.rubric {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.25;
  text-transform: unset;
  /* This is custom because Furo doesn't have enough space by default. */
  margin-top: 1.25em;
}

/* ---------------------------------------------------------------------------
* jupyter-sphinx
* ---------------------------------------------------------------------------- */

/* Fix for https://github.com/Qiskit/qiskit_sphinx_theme/issues/306. Instead, use the rule from
*  `.highlight pre, pre.literal-block`. */
:not(#specifity-war).jupyter_container div.code_cell pre {
  padding: .625rem .875rem;
}
