ipykernel
jupyter-sphinx
numpy
matplotlib
sphinx-design
sphinx-autodoc-typehints
nbsphinx==0.9.*
pytest==7.*
# Move to setup.py once they do a stable release.
furo @ git+https://github.com/pradyunsg/furo.git@48c0bf2aa983fb1ccd79b4167fe85387249afedf
