{%- set external_urls = {
  'github': 'https://github.com/Qiskit/',
  'github_issues': 'https://github.com/Qiskit/qiskit/issues',
  'contributing': 'https://github.com/Qiskit/qiskit/blob/master/CONTRIBUTING.md',
  'docs': 'https://qiskit.org/documentation/',
  'ml': 'https://qiskit.org/documentation/machine-learning/',
  'nature': 'https://qiskit.org/documentation/nature/',
  'finance': 'https://qiskit.org/documentation/finance/',
  'optim': 'https://qiskit.org/documentation/optimization/',
  'experiments': 'https://qiskit.org/documentation/experiments/',
  'partners': 'https://qiskit.org/documentation/partners/',
  'twitter': 'https://twitter.com/qiskit',
  'events': 'https://qiskit.org/events',
  'textbook': 'https://qiskit.org/textbook',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://qiskit.org/learn',
  'support': 'https://pytorch.org/support',
  'youtube': 'https://www.youtube.com/qiskit',
  'iqx': 'https://quantum-computing.ibm.com/',
  'iqx_systems': 'https://quantum-computing.ibm.com/docs/manage/backends/',
  'ibm': 'https://www.ibm.com/quantum-computing/',
}
-%}

{%- set qiskit_org_link = {
  'label': 'Qiskit home page',
  'url': 'https://qiskit.org'
}
-%}

{%- set getting_started_link = {
  'label': 'Getting Started',
  'path': 'getting_started'
}
-%}

{%- set tutorials_link = {
  'label': 'Tutorials',
  'path': 'tutorials'
}
-%}

{%- set partners_link = {
  'label': 'Partners',
  'url': 'https://qiskit.org/documentation/partners',
  'path': 'partners'
}
-%}

{%- set applications_label = 'Applications' -%}

{%- set machine_learning_link = {
  'label': 'Machine learning',
  'url': 'https://qiskit.org/documentation/machine-learning',
  'path': 'machine-learning',
  'description': 'QSVM, VQC (Variational Quantum Classifier), and QGAN (Quantum Generative Adversarial Network) algorithms.'
}
-%}

{%- set nature_link = {
  'label': 'Nature',
  'url': 'https://qiskit.org/documentation/nature',
  'path': 'nature',
  'description': 'Quantum applications in chemistry, physics, and biology.'
}
-%}

{%- set finance_link = {
  'label': 'Finance',
  'url': 'https://qiskit.org/documentation/finance',
  'path': 'finance',
  'description': 'Uncertainty components for stock/securities problems, Ising translators for portfolio optimizations and data providers to source real or random data.'
}
-%}

{%- set optimization_link = {
  'label': 'Optimization',
  'url': 'https://qiskit.org/documentation/optimization',
  'path': 'optimization',
  'description': 'High-level optimization problems that are ready to run on simulators and real quantum devices'
}
-%}

{%- set applications_link = {
  'label': applications_label,
  'children': [machine_learning_link, nature_link, finance_link, optimization_link]
}
-%}

{%- set experiments_link = {
  'label': 'Experiments',
  'url': 'https://qiskit.org/documentation/experiments',
  'path': 'experiments'
}
-%}

{%- set resources_label = 'Resources' -%}

{%- set slack_support_link = {
  'label': 'Slack support',
  'url': 'https://qiskit.slack.com'
}
-%}

{%- set resources_link = {
  'label': resources_label,
  'children': [slack_support_link]
}
-%}

{%- set github_link = {
  'label': 'GitHub',
  'url': 'https://github.com/Qiskit/'
}
-%}
