{%- set external_urls = {
  'github': 'https://github.com/Qiskit/',
  'github_issues': 'https://github.com/Qiskit/qiskit/issues',
  'contributing': 'https://github.com/Qiskit/qiskit/blob/master/CONTRIBUTING.md',
  'docs': 'https://qiskit.org/documentation/',
  'twitter': 'https://twitter.com/qiskit',
  'slack': 'https://qiskit.slack.com',
  'home': 'https://qiskit.org/',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://qiskit.org/learn/',
  'support': 'https://pytorch.org/support',
  'youtube': 'https://www.youtube.com/qiskit',
  'advocates': 'https://qiskit.org/advocates',
  'events': 'https://qiskit.org/events',
  'iqx': 'https://quantum-computing.ibm.com/',
  'iqx_systems': 'https://quantum-computing.ibm.com/docs/manage/backends/',
  'ibm': 'https://www.ibm.com/quantum-computing/',
  'medium': 'https://medium.com/Qiskit',
  'overview': 'https://qiskit.org/overview/',
}
-%}
