{%- set qiskit_org_link = {
  'label': 'Qiskit home page',
  'url': 'https://qiskit.org'
}
-%}

{%- set getting_started_link = {
  'label': 'Getting Started',
  'path': 'getting_started'
}
-%}

{%- set tutorials_link = {
  'label': 'Tutorials',
  'path': 'tutorials'
}
-%}

{%- set partners_link = {
  'label': 'Partners',
  'url': 'https://qiskit.org/documentation/partners',
  'path': 'partners'
}
-%}

{%- set applications_label = 'Applications' -%}

{%- set machine_learning_link = {
  'label': 'Machine learning',
  'url': 'https://qiskit.org/documentation/machine-learning',
  'path': 'machine-learning',
  'description': 'QSVM, VQC (Variational Quantum Classifier), and QGAN (Quantum Generative Adversarial Network) algorithms.'
}
-%}

{%- set nature_link = {
  'label': 'Nature',
  'url': 'https://qiskit.org/documentation/nature',
  'path': 'nature',
  'description': 'Quantum applications in chemistry, physics, and biology.'
}
-%}

{%- set finance_link = {
  'label': 'Finance',
  'url': 'https://qiskit.org/documentation/finance',
  'path': 'finance',
  'description': 'Uncertainty components for stock/securities problems, Ising translators for portfolio optimizations and data providers to source real or random data.'
}
-%}

{%- set optimization_link = {
  'label': 'Optimization',
  'url': 'https://qiskit.org/documentation/optimization',
  'path': 'optimization',
  'description': 'High-level optimization problems that are ready to run on simulators and real quantum devices'
}
-%}

{%- set applications_link = {
  'label': applications_label,
  'children': [machine_learning_link, nature_link, finance_link, optimization_link]
}
-%}

{%- set experiments_link = {
  'label': 'Experiments',
  'url': 'https://qiskit.org/documentation/experiments',
  'path': 'experiments'
}
-%}

{%- set resources_label = 'Resources' -%}

{%- set slack_support_link = {
  'label': 'Slack support',
  'url': 'https://qiskit.slack.com'
}
-%}

{%- set qiskit_textbook_link = {
  'label': 'Qiskit Textbook',
  'url': 'https://qiskit.org/textbook-beta'
}
-%}

{%- set qiskit_events_link = {
  'label': 'Qiskit events',
  'url': 'https://qiskit.org/events'
}
-%}

{%- set resources_link = {
  'label': resources_label,
  'children': [slack_support_link]
}
-%}

{%- set resources_link_in_top_menu = {
  'label': resources_label,
  'children': [slack_support_link, qiskit_textbook_link, qiskit_events_link]
}
-%}

{%- set github_link = {
  'label': 'GitHub',
  'url': 'https://github.com/Qiskit/'
}
-%}
