/* Define variables & override some Furo ones. See
* https://github.com/pradyunsg/furo/tree/main/src/furo/assets/styles/variables
* for all options. */
body {
    /* -----------------------------------------------------------------------
    * Primary colors
    * ------------------------------------------------------------------------ */
    --color-brand-primary: var(--qiskit-color-purple);
    --color-brand-content: var(--qiskit-color-purple);

    /* -----------------------------------------------------------------------
    * Fonts
    * ----------------------------------------------------------------------- */
    --font-stack: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    --font-stack--monospace: 'IBM Plex Mono', 'Consolas', 'Courier New', monospace;

    /* -----------------------------------------------------------------------
    * Tables
    * ------------------------------------------------------------------------ */
    /* Use the same table header color as qiskit.org. */
    --color-table-header-background: #dde1e6;

    /* -----------------------------------------------------------------------
    * Custom Qiskit variables.
    * ------------------------------------------------------------------------ */
    /* This value is duplicated from `top-nav-bar.js`. Its definition of the variable is not
     * exposed globally. Keep in sync. */
    --qiskit-top-nav-bar-height: 3.5rem;
    --qiskit-color-purple: #6929C4;
}

/* ------------------------------------------------------------------------------
* Top nav bar
* ------------------------------------------------------------------------------- */

/* Disable dark mode until qiskit.org has it: https://github.com/Qiskit/qiskit.org/issues/2310 */
.theme-toggle-container {
  display: none;
}

/* Fix Qiskit top nav bar hiding Furo's top nav bar and side menus. */
.mobile-header,
.sidebar-sticky,
.toc-sticky,
#__navigation:checked ~ .page .sidebar-drawer,
#__toc:checked ~ .page .toc-drawer {
  top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  .sidebar-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}
@media (max-width: 82em) {
  .toc-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}

/* These are also necessary to fix the Qiskit top nav bar hiding Furo content/menus, specifically
*  when the user is scrolled down to the bottom of the page. They override Furo's rules. */
.sidebar-sticky,
.toc-sticky {
  height: calc(100vh - var(--qiskit-top-nav-bar-height));
}
.toc-scroll {
  max-height: calc(100vh - var(--qiskit-top-nav-bar-height));
}

/* Fix # anchor links not accounting for the top nav bar.
*
* The rules for mobile come from Furo, but we add --qiskit-top-nav-bar-height.
* But for some reason, the default rule has too much spacing if we include Furo's original rule's
* --header-height. */
:target {
  scroll-margin-top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  :target {
     scroll-margin-top: calc(0.5rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
  /* When a heading is selected */
  section > span:target {
    scroll-margin-top: calc(0.8rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
}

/* ------------------------------------------------------------------------------
* Left side bar
* ------------------------------------------------------------------------------- */

/* By default, top level entries in the table of contents would be purple. We instead
*  use the same color as nested entries for a more muted look. */
.sidebar-tree .toctree-l1 > .reference,
.sidebar-tree .toctree-l1 > label .icon {
  color: var(--color-sidebar-link-text);
}

/* But, we change the currently selected page to be purple to make it more obvious.
*
* We keep Furo making the entry bold, including for accessibility with color blindness. */
.sidebar-tree .current-page > .reference {
  color: var(--qiskit-color-purple);
}

/* --------------------------------------------------------------------------------------
* Left side bar: Translations & Previous Releases common config
* -------------------------------------------------------------------------------------- */

.qiskit-translations-list-container,
.qiskit-previous-releases-list-container {
  display: none;
}
#translations-checkbox:checked ~ .qiskit-translations-list-container,
#previous-releases-checkbox:checked ~ .qiskit-previous-releases-list-container{
  display: block;
}

.qiskit-translations-header-container label,
.qiskit-previous-releases-header-container label {
  cursor: pointer;
}

/* Based off of `.toctree-l1 li`. */
.qiskit-translations-header-container,
.qiskit-previous-releases-header-container {
  margin: 0;
  position: relative;
  /* Normally this is set on `.sidebar-tree label`, which corresponds to
  * `.qiskit-translations-toggle-container` and `.qiskit-previous-releases-toggle-container`.
  * But we set it on the whole container because otherwise we get annoying browser highlighting
  * of the text. */
  -webkit-user-select: none;
  user-select: none;
}

/* Based off of `.sidebar-tree li.has-children > reference` and `.sidebar-tree .reference`. */
.qiskit-translations-header-container p,
.qiskit-previous-releases-header-container p {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: var(--sidebar-item-line-height);
  overflow-wrap: anywhere;
  text-decoration: none;
  width: 100%;
  padding-left: var(--sidebar-item-spacing-horizontal);
  padding-right: var(--sidebar-expander-width);
}

/* Based off of `.sidebar-tree .reference:hover`, but applied to the whole container rather than
*  only the label text. */
.qiskit-translations-header-container:hover,
.qiskit-previous-releases-header-container:hover {
  background: var(--color-sidebar-item-background--hover);
}

/* Based off of `.sidebar-tree label`. */
.qiskit-translations-toggle-container,
.qiskit-previous-releases-toggle-container {
  background: var(--color-sidebar-item-expander-background);
  align-items: center;
  display: flex;
  height: var(--sidebar-item-height);
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--sidebar-expander-width);
}

/* Based off of `.toctree-checkbox`. */
#translations-checkbox,
#previous-releases-checkbox {
  display: none;
  position: absolute;
}
.qiskit-translations-header-container svg,
.qiskit-previous-releases-header-container svg {
  transform: rotate(90deg);
}
#translations-checkbox:checked ~ .qiskit-translations-header-container svg,
#previous-releases-checkbox:checked ~ .qiskit-previous-releases-header-container svg {
  transform: rotate(-90deg);
}

/* Based off of `.sidebar-tree ul`. */
.qiskit-translations-list-container ul,
.qiskit-previous-releases-list-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Based off of `.sidebar-tree li`. */
.qiskit-translations-list-container li,
.qiskit-previous-releases-list-container li {
  margin: 0;
  position: relative;
}

/* Based off of `.sidebar-tree .reference`. */
.qiskit-translations-list-container a,
.qiskit-previous-releases-list-container a {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: var(--sidebar-item-line-height);
  overflow-wrap: anywhere;
  padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
  text-decoration: none;
  width: 100%;
}

/* Based off of `.sidebar-tree .reference:hover`. */
.qiskit-translations-list-container a:hover,
.qiskit-previous-releases-list-container a:hover {
  background: var(--color-sidebar-item-background--hover);
}

/* --------------------------------------------------------------------------------------
* Left side bar: Translations
* -------------------------------------------------------------------------------------- */

.qiskit-translations-container {
  border-bottom: solid 2px var(--qiskit-color-purple);
}

.qiskit-translations-list-container {
  padding-bottom: var(--sidebar-item-spacing-vertical);
}

.qiskit-translations-toggle-container {
  /* Unlike Furo, we set this to 100% instead of `var(--sidebar-item-height)`. */
  height: 100%;
}

.qiskit-translations-list-container a {
  /* We double the horizontal padding for some visual distinction with the normal sidebar. */
  padding: var(--sidebar-item-spacing-vertical) calc(var(--sidebar-item-spacing-horizontal) * 2);
}

/* ------------------------------------------------------------------------------
* Left side bar: Previous Releases
* ------------------------------------------------------------------------------- */

/* Inspired by `.sidebar-tree li > ul`. */
.qiskit-previous-releases-list-container ul {
  margin-left: var(--sidebar-item-spacing-horizontal);
}

/* Inspired by `.sidebar-tree`. */
.qiskit-previous-releases-container {
  font-size: var(--sidebar-item-font-size);
  margin-bottom: var(--sidebar-item-spacing-vertical);
  margin-top: 0;
}

.qiskit-previous-releases-list-container a {
  color: var(--color-sidebar-link-text);
}

.qiskit-previous-releases-header-container p {
  color: var(--color-sidebar-caption-text);
  font-size: var(--sidebar-caption-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------------
* User analytics in the footer
* ------------------------------------------------------------------------------- */

footer .helpful-container {
  display: inline-flex;
  border-top: 1px solid var(--color-background-border);
  border-bottom: 1px solid var(--color-background-border);
  color: var(--color-foreground-secondary);
}

footer .helpful-container .helpful-question,
footer .helpful-container .was-helpful-thank-you {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

#was-helpful-thank-you {
  visibility: hidden;
}

.helpful-container .helpful-question.yes-link,
.helpful-container .helpful-question.no-link {
  color: var(--qiskit-color-purple);
  cursor: pointer;
  text-decoration: none;
}

.helpful-container .helpful-question.yes-link:hover,
.helpful-container .helpful-question.no-link:hover {
  background-color: var(--qiskit-color-purple);
  color: #ffffff;
}
