/* Define variables & override some Furo ones. See
* https://github.com/pradyunsg/furo/tree/main/src/furo/assets/styles/variables
* for all options. */
body {
    /* -----------------------------------------------------------------------
    * Primary colors
    * ------------------------------------------------------------------------ */
    --color-brand-primary: var(--qiskit-color-purple);
    --color-brand-content: var(--qiskit-color-purple);

    /* -----------------------------------------------------------------------
    * Fonts
    * ----------------------------------------------------------------------- */
    --font-stack: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    --font-stack--monospace: 'IBM Plex Mono', 'Consolas', 'Courier New', monospace;

    /* -----------------------------------------------------------------------
    * Tables
    * ------------------------------------------------------------------------ */
    /* Use the same table header color as qiskit.org. */
    --color-table-header-background: #dde1e6;

    /* -----------------------------------------------------------------------
    * Custom Qiskit variables.
    * ------------------------------------------------------------------------ */
    /* This value is duplicated from `top-nav-bar.js`. Its definition of the variable is not
     * exposed globally. Keep in sync. */
    --qiskit-top-nav-bar-height: 3.5rem;
    --qiskit-color-purple: #6929C4;
}

/* ------------------------------------------------------------------------------
* Top nav bar
* ------------------------------------------------------------------------------- */

/* Disable dark mode until qiskit.org has it: https://github.com/Qiskit/qiskit.org/issues/2310 */
.theme-toggle-container {
  display: none;
}

/* Fix Qiskit top nav bar hiding Furo's top nav bar and side menus. */
.mobile-header,
.sidebar-sticky,
.toc-sticky,
#__navigation:checked ~ .page .sidebar-drawer,
#__toc:checked ~ .page .toc-drawer {
  top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  .sidebar-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}
@media (max-width: 82em) {
  .toc-drawer {
    top: var(--qiskit-top-nav-bar-height);
  }
}

/* These are also necessary to fix the Qiskit top nav bar hiding Furo content/menus, specifically
*  when the user is scrolled down to the bottom of the page. They override Furo's rules. */
.sidebar-sticky,
.toc-sticky {
  height: calc(100vh - var(--qiskit-top-nav-bar-height));
}
.toc-scroll {
  max-height: calc(100vh - var(--qiskit-top-nav-bar-height));
}

/* Fix # anchor links not accounting for the top nav bar.
*
* The rules for mobile come from Furo, but we add --qiskit-top-nav-bar-height.
* But for some reason, the default rule has too much spacing if we include Furo's original rule's
* --header-height. */
:target {
  scroll-margin-top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  :target {
     scroll-margin-top: calc(0.5rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
  /* When a heading is selected */
  section > span:target {
    scroll-margin-top: calc(0.8rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
}

/* ------------------------------------------------------------------------------
* Left side bar
* ------------------------------------------------------------------------------- */

/* By default, top level entries in the table of contents would be purple. We instead
*  use the same color as nested entries for a more muted look. */
.sidebar-tree .toctree-l1 > .reference,
.sidebar-tree .toctree-l1 > label .icon {
  color: var(--color-sidebar-link-text);
}

/* But, we change the currently selected page to be purple to make it more obvious.
*
* We keep Furo making the entry bold, including for accessibility with color blindness. */
.sidebar-tree .current-page > .reference {
  color: var(--qiskit-color-purple);
}

/* ------------------------------------------------------------------------------
* User analytics in the footer
* ------------------------------------------------------------------------------- */

footer .helpful-container {
  display: inline-flex;
  border-top: 1px solid var(--color-background-border);
  border-bottom: 1px solid var(--color-background-border);
  color: var(--color-foreground-secondary);
}

footer .helpful-container .helpful-question,
footer .helpful-container .was-helpful-thank-you {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

#was-helpful-thank-you {
  visibility: hidden;
}

.helpful-container .helpful-question.yes-link,
.helpful-container .helpful-question.no-link {
  color: var(--qiskit-color-purple);
  cursor: pointer;
  text-decoration: none;
}

.helpful-container .helpful-question.yes-link:hover,
.helpful-container .helpful-question.no-link:hover {
  background-color: var(--qiskit-color-purple);
  color: #ffffff;
}

/* ---------------------------------------------------------------------------
* Tutorials
* ---------------------------------------------------------------------------- */

/* Don't have a purple border. This rule overrides `.npshinx-gallery > a`.
*
* We keep the default style of the text itself being purple to be consistent with the general style
* of the site using purple for links.*/
.nbsphinx-gallery > a.reference {
  border: 1px dotted var(--color-foreground-secondary);
}
