/* Define some Furo variables. See
 *  https://github.com/pradyunsg/furo/tree/main/src/furo/assets/styles/variables
 *  for all options.
 *
 * Variables that start with `--qiskit-` are new values we use in this file; they are not overrides.
 */
body {
    --color-brand-primary: var(--qiskit-color-purple);
    --color-brand-content: var(--qiskit-color-purple);
    --font-stack: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    --font-stack--monospace: 'IBM Plex Mono', 'Consolas', 'Courier New', monospace;
    /* This value is duplicated from `top-nav-bar.js`. Its definition of the variable is not
     * exposed globally. Keep in sync. */
    --qiskit-top-nav-bar-height: 3.5rem;
    --qiskit-color-purple: #8A3FFC;
}

/* ------------------------------
* Top nav bar
* ------------------------------ */

/* Disable dark mode until qiskit.org has it: https://github.com/Qiskit/qiskit.org/issues/2310 */
.theme-toggle-container {
  display: none;
}

/* Fix Qiskit top nav bar hiding Furo's top nav bar when scrolled down. */
.mobile-header,
.sidebar-sticky,
.toc-sticky {
  top: var(--qiskit-top-nav-bar-height);
}

/* Fix # anchor links not accounting for the top nav bar.
*
* The rules for mobile come from Furo, but we add --qiskit-top-nav-bar-height.
* But for some reason, the default rule has too much spacing if we include Furo's original rule's
* --header-height. */
:target {
  scroll-margin-top: var(--qiskit-top-nav-bar-height);
}
@media (max-width: 67em) {
  :target {
     scroll-margin-top: calc(0.5rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
  /* When a heading is selected */
  section > span:target {
    scroll-margin-top: calc(0.8rem + var(--header-height) + var(--qiskit-top-nav-bar-height));
  }
}

/* Show the whole contents of the mobile expandable menus.
*  `box-sizing: border-box` ensures padding is included in the height calculations. */
@media (max-width: 67em) {
  .sidebar-drawer {
    padding-top: var(--qiskit-top-nav-bar-height);
    box-sizing: border-box;
  }
}
@media (max-width: 82em) {
  .toc-drawer {
    padding-top: var(--qiskit-top-nav-bar-height);
    box-sizing: border-box;
  }
}

/* ------------------------------
* Left side bar
* ------------------------------ */

/* By default, top level entries in the table of contents would be purple. We instead
*  use the same color as nested entries for a more muted look. */
.sidebar-tree .toctree-l1 > .reference,
.sidebar-tree .toctree-l1 > label .icon {
  color: var(--color-sidebar-link-text);
}

/* But, we change the currently selected page to be purple to make it more obvious.
*
* We keep Furo making the entry bold, including for accessibility with color blindness. */
.sidebar-tree .current-page > .reference {
  color: var(--qiskit-color-purple);
}

/* ------------------------------
* User analytics in the footer
* ------------------------------ */

footer .helpful-container {
  display: inline-flex;
  border-top: 1px solid var(--color-background-border);
  border-bottom: 1px solid var(--color-background-border);
  color: var(--color-foreground-secondary);
}

footer .helpful-container .helpful-question,
footer .helpful-container .was-helpful-thank-you {
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

#was-helpful-thank-you {
  visibility: hidden;
}

.helpful-container .helpful-question.yes-link,
.helpful-container .helpful-question.no-link {
  color: var(--qiskit-color-purple);
  cursor: pointer;
  text-decoration: none;
}

.helpful-container .helpful-question.yes-link:hover,
.helpful-container .helpful-question.no-link:hover {
  background-color: var(--qiskit-color-purple);
  color: #ffffff;
}
