name: Test Docs Guide
on:
  pull_request:
    branches: ["feature/docs-guidelines"]

permissions:
  contents: write

jobs:
  build-and-test:
    name: Docs Guide Build
    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Ubuntu Dependencies
        run: sudo apt-get install -y pandoc graphviz
      - name: Install Python Dependencies
        run: |
          python -m pip install -U 'tox<4' qiskit-terra
          python -m pip install -r requirements-dev.txt
      - name: Build Docs Guide
        run: tox -edocs-guide -- -j auto
      - name: Compress Artifacts
        run: |
          mkdir artifacts
          tar -zcvf html_docs.tar.gz docs_guidelines/_build/html
          mv html_docs.tar.gz artifacts/.
      - uses: actions/upload-artifact@v2
        with:
          name: html_docs
          path: artifacts
