name: Tests
on: [push, pull_request]
jobs:
  docs:
    name: Sample Docs Build
    runs-on: ubuntu-latest
    if: github.repository_owner == 'Qiskit'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: Install Node.js dependencies
        run: npm ci
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Ubuntu deps
        run: sudo apt-get install -y pandoc graphviz
      - name: Install tox
        run: |
          python -m pip install -U tox
      - name: Build example docs
        run: tox run -e py
      - name: Run Node.js tests
        run: npm test
      - name: Compress Artifacts
        run: |
          mkdir artifacts
          tar -zcvf html_docs.tar.gz example_docs/docs/_build/html
          mv html_docs.tar.gz artifacts/.
      - uses: actions/upload-artifact@v2
        with:
          name: html_docs
          path: artifacts
