name: Tests
on:
  push:
    branches:
      - main
      - '1.*'
  pull_request:
jobs:
  docs:
    name: Sample Docs Build
    runs-on: ubuntu-latest
    if: github.repository_owner == 'Qiskit'
    container:
      # Keep in sync with tests/js/Dockerfile's base image.
      image: mcr.microsoft.com/playwright:v1.34.0-jammy
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fix permissions for sphinx-theme-builder
        run: chown -R $(id -u):$(id -g) .
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Node.js dependencies
        run: npm ci
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Ubuntu deps
        run: apt-get update && apt-get install -y pandoc graphviz
      - name: Install tox
        run: python -m pip install -U tox

      - name: Run lint
        run: tox run -e lint
      - name: Run Pytest
        run: tox run -e py

      - name: Create artifacts/ folder
        run: mkdir artifacts
      - name: Build Legacy Pytorch theme
        run: |
          tox run -e pytorch
          tar -zcvf pytorch_html_docs.tar.gz example_docs/docs/_pytorch_build
          mv pytorch_html_docs.tar.gz artifacts/.
      - name: Build Qiskit (Furo) theme
        run: |
          tox run -e qiskit
          tar -zcvf qiskit_html_docs.tar.gz example_docs/docs/_qiskit_build
          mv qiskit_html_docs.tar.gz artifacts/.
      - name: Upload Sphinx builds
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: html_docs
          path: artifacts

      - name: Run JavaScript snapshot tests
        run: npm run _run-playwright
      - name: Upload snapshot results
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: snapshot_results
          path: snapshot_results/
